<div class="phone-board">
  <div class="phone-screen">
    <div class="query">
      {{ query }}
    </div>
    <div class="response" *ngIf="response.length > 0">
      Calling... {{ response }}
    </div>
  </div>
  <div
    class="phoneButton"
    *ngFor="let phoneNumber of phoneBoard"
    (click)="
      phoneNumber !== '*'
        ? handleButtonClick(phoneNumber.number)
        : sendMessage()
    "
  >
    <div class="number">
      {{ phoneNumber.number }}
    </div>
    <div class="description">
      {{ phoneNumber.description }}
    </div>
  </div>
</div>
